<section id="section-subtle-highlight" class="container full-width section section-event-info bg-white">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-info"></i>
      </div>

      <h2>This year, Empire is on Broadway!</h2>
      <div class="divider-inner"></div>

    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">

      <p>Every year the Empire team ramps up we try to highlight one of the things that makes New York City an amazing place to live, work, visit, and `git push origin master` in. Did you know there are over 10,000,000,000 historic theaters in New York City? Well ok, not really, but there are definitely a lot.</p>

      <p>So this year we are show casing the little language you know and love in a theater setting. We are have just secured our venue: the National Museum of the American Indian for April 26th and April 27th.</p>

      <hr />

      <p>We are an inclusive, kind community that is constantly growing. We ask that you <a href="http://jsconf.com/codeofconduct.html">'don't be a yutz'</a>, and try and make our fellow Empire friends feel welcome! Diversity of voices is important to our community, and we are serious when we say EVERYONE AND ANYONE should attend and participate.</p>

    </div>

    <div id="marquee-container" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <img id="marquee" src="/img/js-marquee.png">
    </div>

  </div>

</section>
