<section id="section-emcees" class="container section" data-id="love">

  <div class="row">
    <div id="emcees-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-heart"></i>
      </div>

      <h2>Emcees</h2>
      <div class="divider-inner"></div>

      <ul id="speaker-list">
        {{{emcee 'Zahra Jabini' 'zahra.jpeg' 'zeejab'}}}
        {{{emcee 'Rushaine McBean' 'rushaine.jpeg' 'copascetickid'}}}
        {{{emcee 'Adam Sontag' 'sontag.jpeg' 'ajpiano'}}}
      </ul>

    </div>

  </div>

</section>
