<header id="header-hero">
      <div id="header-hero-logo"><img src="/img/hero.png" /></div>

      <div id="header-hero-content">
        <h2 class="date">May 26th & 27th, 2016</h2>
        <h2 class="location"><a href="https://ti.to/empirejs/empirejs-2016" target="_blank">Tickets on Sale!</a></h1>
      </div>
    </div>
</header>
