<header id="header-hero">
  <div id="header-hero-logo"><img src="/img/hero.png" /></div>

  <div id="header-hero-date">
    <div class="container">
      <h2>May 26th & 27th, 2016</h2>
    </div>
  </div>

  <div id="header-hero-tickets">
    <div class="container">
      <h2><a href="https://ti.to/empirejs/empirejs-2016" target="_blank">Tickets on Sale!</a></h2>
    </div>
  </div>
</header>
