<section id="section-hotel" class="container section section-event-info bg-white" data-id="hotel">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-info"></i>
      </div>

      <h2>Hotel</h2>
      <div class="divider-inner"></div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">

      <p>We're excited to announce a great lodging partner in spitting distance of our beautiful venue--DoubleTree on Stone Street. Stay alongside our traveling speakers and take advantage now to get the EmpireJS discount rate with group code: MXL.</p>

      <p>
      DoubleTree by Hilton<br />
      Financial District<br />
      8 Stone Street, New York, NY<br />
      1(212) 480-9100
      </p>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

      <img src="/img/doubletree.gif" />

    </div>

  </div>

</section>
