<a name="venue"></a>
<section class="section-event-map" data-id="venue">

    <div class="map-location-container">
      <div class="icon-container event-icon-container">
        <i class="fa fa-map-marker"></i>
      </div>

      <h2>Venue</h2>
      <div class="divider-inner"></div>

      <h2>The National Museum of the American Indian</h2>

      <a class="map-new-tab" href="https://www.google.com/maps/place/The+National+Museum+of+the+American+Indian%E2%80%93New+York/@40.703996,-74.013732,17z/data=!3m2!4b1!5s0x89c25a13ea7afc1d:0xd1063be3fbc7ff76!4m2!3m1!1s0x89c25a13e8705e8d:0x7e39e77a139dd9ba" target="_blank">
        <span>1 Bowling Green<br />New York, NY 10004</span>
      </a>
    </div>
    <div id="map"></div>
    <div class="venue-photo"></div>
  </div>

</section>
