<div id="navigation" class="component-navigation" role="navigation">
  <div class="container">
    <div class="row">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand pull-left" href="/">EmpireJS 2016</a>
            <div class="navbar-container">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a id="nav-link-tickets" href="https://tito.io/empirejs/empirejs-2016" target="_blank">Tickets</a></li>
                  <li><a href="#venue">Venue</a></li>
                  <li><a href="#schedule">Schedule</a></li>
                  <li><a href="#speakers">Speakers</a></li>
                  <li><a href="#hotel">Hotel</a></li>
                  <li><a href="#sponsors">Sponsors</a></li>
                  <li><a href="#scholarship">Scholarship</a></li>
                  <li><a href="#love">♥</a></li>
                  <li><a href="https://twitter.com/empirejs" target="_blank"><i class="icon-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
