<section id="section-subtle-highlight" class="container full-width section section-event-info bg-white">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-info"></i>
      </div>

      <h2>EmpireJS' inaugural OSS Night!</h2>
      <div class="divider-inner"></div>

    </div>

  </div>

  <div class="row">
    <div id="about-tickets-sale">
      <span><a href="https://ti.to/empirejs/empirejs-2016" target="_blank">Register for OSS Night!</a></span>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <p>A chicken in every pot, and a commit in every repo!</p>

      <p>The EmpireJS team is excited to open up our inaugural open source night in JavaScript!
      <p>You know those docs you reference on a daily basis? Those packages you are wiring up together to make all those websites and apps running? They were all written by volunteers like yourself.
      Join us for an evening of learning how to contribute to docs, code, and community collaboration through open source contributions. We’ll have mentors in house with endless amounts of encouragement and insight. Every level of programmer is welcome and we’ll have groups to help make everyone feel comfortable at the pace they’d like to move.</p>

      <p>This is a small groups workshop-style event. It would be helpful to be familiar with HTML, CSS and/or JavaScript.</p>

      <p>Our mentors will help walk you through ways to contribute to the awesome projects you use like:</p>
      <ul>
        <li>Fixing bugs</li>
        <li>Adding a feature</li>
        <li>Writing tests</li>
        <li>Documentation</li>
        <li>Adding resources</li>
        <li>Writing guides</li>
      </ul>

      <p>Please bring:</p>
      <ul>
        <li>An open mind</li>
        <li>A computer with your github account dsetup https://github.com/join</li>
        <li>Song requests (gotta keep the party going! background music!)</li>
      </ul>

      <p>Are you on open source maintainer who would love more contributors to your project? Been itching to try mentoring? Please register at the event link above or reach out to us at <a href="mailto:us@empirejs.org" target="_top">us@empirejs.org</a>!</p>

      <p>A preview of  groups we’ll be diving into:</p>
      <ul>
        <li>StructureJS: Real-time data store & API powered by NodeJS and RethinkDB</li>
        <li>Forever https://github.com/foreverjs/forever</li>
        <li>Getting started in open source</li>
        <li>jQuery</li>
        <li>Contributing to Node.js</li>
        <li>More to come!</li>
      </ul>


    </div>

    <div id="marquee-container" class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
      <h3>7pm to 10pm</h3>
      <p>OSS Night at Conde Nast</p>
      <p>222 Broadway</p>
      <p>New York, NY 10038</p>
    </div>

</section>
