<a name="schedule"></a>

<section class="container full-width section section-event-schedule bg-white" data-id="schedule">
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <div class="icon-container event-icon-container">
        <i class="fa fa-calendar"></i>
      </div>

      <h2>Schedule</h2>
      <div class="divider-inner"></div>
    </div>

    <div class="col-xs-12 col-md-12 event-schedule-body">
      <p>Wander the beautiful museum during a break? Go for it. Looking for a little peace? Find our quiet lounge. Need a bit of broadway entertainment over lunch? Join us in the Dyker Auditorium. Want a little fresh air? Grab one of our delicious box lunches and have a picnic at the historic Battery park! Interact with our speaker experiments and enjoy our full day of one-of-a-kind presentations.<p>

      <p>A ticket to EmpireJS 2015 includes tasty beverages and overflowing coffee. Both days include a full breakfast and lunch with options for omnivores, vegetarians, and vegans. If you have any special dietaryneeds, please let us know, so we can accommodate you. We've got some big surprises in store for these two days so stay tuned for announcements as we get closer to the conference!</p>

      <ul class="event-schedule-list">

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Saturday, April 25th</span>
            <h4 class="event-schedule-subtitle">THE NIGHT BEFORE</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00PM - 12:00AM</span>
          <h4 class="event-schedule-item-title">Opening Party at Barcade</h4>
          <p class="event-schedule-panel-desc">On Saturday, April 25th, we'll be meeting up for an informal evening of arcade games, meeting new friends, and grabbing a drink. Quarters on us at Barcade!</p>
        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Sunday, April 26th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 1)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <p class="event-schedule-panel-desc">Registration opens</p>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 - 9:15 AM</span>
          <h4 class="event-schedule-item-title">Welcome to EmpireJS 2015</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:15 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">Rudy Jahchan <span class="event-schedule-speaker-talk">Getting Started in VR with JS (art, vr, physical)</span></h6>
          <h6 class="event-schedule-speaker">Jonathan Kuperman <span class="event-schedule-speaker-talk">Inclusive Web: Getting started with Accessibility (everyday, accessability)</span></h6>
          <h6 class="event-schedule-speaker">Paul Taylor <span class="event-schedule-speaker-talk">Falcor: Reactive REST at Netflix (framework)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>
          <h6 class="event-schedule-speaker">Nick Hehr <span class="event-schedule-speaker-talk">The Other Side of Empathy (not-as-technical)</span></h6>
          <h6 class="event-schedule-speaker">Karen Peng <span class="event-schedule-speaker-talk">Demo(interesting ways to explore computational concepts)</span></h6>
          <h6 class="event-schedule-speaker">Kelly King <span class="event-schedule-speaker-talk">Experimentation, Tone and Emotional Design (tooling, ab, design)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">Andrew Rota <span class="event-schedule-speaker-talk">Why Static Type Checking is Better (next level js, type system)</span></h6>
          <h6 class="event-schedule-speaker">Tim Holman <span class="event-schedule-speaker-talk">Fun with JS (art, creative)</span></h6>
          <h6 class="event-schedule-speaker">Kevin Greer <span class="event-schedule-speaker-talk">Introducing FOAM (framework)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks for the day!</h4>

          <h6 class="event-schedule-speaker">Sequoia McDowell <span class="event-schedule-speaker-talk">Building shell tools in javascript (tooling)</span></h6>
          <h6 class="event-schedule-speaker">Jenna Zeigen <span class="event-schedule-speaker-talk">The Linguistic Relativity of Programming Languages (syntax, lingustics)</span></h6>
          <h6 class="event-schedule-speaker">Rob Ellis <span class="event-schedule-speaker-talk">SuperScript (syntax, lingustics)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">StatenIslandJS Take-over!</h4>
          <div class="event-schedule-caption">
            <p>The NMAI is located directly next to the South Ferry terminal, the most luxurious way to travel around the fair island of Manhattan. Well if luxury is defined as the only free ferry in the tri-state area. So we figured: <em>Why not maximize the most under appreciated borough in New York City?!?</em></p>

            <p>
              <em>... that's right!</em> <strong>We're going to Staten Island!</strong> JavaScript straight from the Slums of Shaolin.
            </p>

            <p><a href="http://www.siferry.com/schedules.html">According to the schedule</a> the ferry departs every half hour after day one ends. Our destination is just a short walk from where the ferry drops off. So take a boat ride with us and enjoy an evening of food, drinks, games, and whatever our mysterious friends at <a href="https://twitter.com/statenisland_js">StatenIslandJS</a> may have up their sleeves! <em>Did we mention there's a killer view of the Statue of Liberty on the way?</em> There is!</p>
          </div>

          <div class="event-schedule-sidebar">
            <img class="statenislandjs" src="/img/statenislandjs.png" />
          </div>

        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Monday, April 27th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 2)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <h6 class="event-schedule-speaker">Registration <span class="event-schedule-speaker-talk">continues</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">Soledad Penadés <span class="event-schedule-speaker-talk">Web components and experimental mobile UI audio+p2p wifi+whatnot (next level js)</span></h6>
          <h6 class="event-schedule-speaker">Mariko Kosaka <span class="event-schedule-speaker-talk">Knitting explained in JavaScript &amp; Using Javascript for your knitting project (art, phycial, hardware)</span></h6>
          <h6 class="event-schedule-speaker">Matthew Conlen <span class="event-schedule-speaker-talk">Data visualization with Node.js and Lightning (3d, data vis)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>
          <h6 class="event-schedule-speaker">Eric Shepherd <span class="event-schedule-speaker-talk">Make Friends with Marketing: Safely Implementing a Container Tag (everyday)</span></h6>
          <h6 class="event-schedule-speaker">K. Adam White <span class="event-schedule-speaker-talk">Side Projects! Front and Center (not-as-technical)</span></h6>
          <h6 class="event-schedule-speaker">Mark Wunsch <span class="event-schedule-speaker-talk">The Giving Tree (everyday, browser, DOM)</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and more entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">Ian Webster <span class="event-schedule-speaker-talk">Hacking Space with Javascript and WebGL (3d, space, physical)</span></h6>
          <h6 class="event-schedule-speaker">Jordan Kasper <span class="event-schedule-speaker-talk">Generating a New Async (next level js)</span></h6>
          <h6 class="event-schedule-speaker">Varya Stepanova <span class="event-schedule-speaker-talk">Automating Style Guide Driven Development (tooling, design)</span></h6>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks!</h4>

          <h6 class="event-schedule-speaker">Tara Feener <span class="event-schedule-speaker-talk">ReactJS: Let's get expressive (framework)</span></h6>
          <h6 class="event-schedule-speaker">Ben Purdy &amp; John Brown <span class="event-schedule-speaker-talk">State of the Art - Interactive Physical Installations Powered by JavaScript (art, physical)</span></h6>

        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">5:45 PM</span>
          <h4 class="event-schedule-item-title">EmpireJS family photo</h4>
          <h6 class="event-schedule-speaker">with (friends) { <span class="event-schedule-speaker-talk">Memories.create()</span> }</h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">
            Closing Party on historic Stone Street
          </h4>
          <p>Food, drinks, good music, and goodbyes to new friends while chatting about all things JavaScript</p>
        </li>


        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
        </li>
      </ul>

    </div>

  </div>
</section>
