<a name="schedule"></a>

<section class="full-width section section-event-schedule" data-id="schedule">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-12">
        <div class="icon-container event-icon-container">
          <i class="fa fa-calendar"></i>
        </div>

        <h2>Schedule</h2>
        <div class="divider-inner"></div>
      </div>

      <div class="col-xs-12 col-md-12 event-schedule-body">
        <p>Wander the beautiful museum during a break? Go for it. Looking for a little peace? Find our quiet lounge. Need a bit of entertainment over lunch? Join us in the Dyker Auditorium. Want a little fresh air? Grab one of our delicious box lunches and have a picnic at the historic Battery park! Interact with our speakers and enjoy our full day of one-of-a-kind presentations.<p>

        <p>A ticket to EmpireJS 2016 includes tasty beverages and overflowing coffee. Both days include a full breakfast and lunch with options for omnivores, vegetarians, and vegans. If you have any special dietary needs, please let us know, so we can accommodate you. We've got some big surprises in store for these two days so stay tuned for announcements as we get closer to the conference!</p>

        <ul class="event-schedule-list">

          <li class="event-schedule-item event-schedule-header">
            <span class="event-schedule-dot dot-dark"></span>
            <div class="event-schedule-header-content">
              <span class="event-schedule-title">Wednesday, May 25th</span>
              <h4 class="event-schedule-subtitle">THE NIGHT BEFORE</h4>
            </div>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">7:00PM - 10:00PM</span>
            <h4 class="event-schedule-item-title">EmpireJS' Inaugural OSS Night!</h4>
            <p class="event-schedule-panel-desc">Contribute to open source with your friends from EmpireJS at Conde Nast</p>
          </li>

          <li class="event-schedule-item event-schedule-header">
            <span class="event-schedule-dot dot-dark"></span>
            <div class="event-schedule-header-content">
              <span class="event-schedule-title">Thursday, May 26th</span>
              <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 1)</h4>
            </div>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
            <h4 class="event-schedule-item-title">Breakfast</h4>
            <p class="event-schedule-panel-desc">Registration opens</p>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">9:00 - 9:15 AM</span>
            <h4 class="event-schedule-item-title">Welcome to EmpireJS 2016</h4>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">9:15 AM - 11:20 AM</span>
            <h4 class="event-schedule-item-title">Talks!</h4>

            <h6 class="event-schedule-speaker">Justin Falcone <span class="event-schedule-speaker-talk">Why is a Guinea Pig Like a Microservice?</span></h6>
            <h6 class="event-schedule-speaker">Thorsten Lorenz <span class="event-schedule-speaker-talk">Deep Dive into the v8 API</span></h6>
            <h6 class="event-schedule-speaker">Gregor Martynus <span class="event-schedule-speaker-talk">Inviting Communities</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
            <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
            <h4 class="event-schedule-item-title">More talks!</h4>

            <h6 class="event-schedule-speaker">Donato Borrello <span class="event-schedule-speaker-talk">The Nitty Gritty of Adaptive Video Transmuxing in JS</span></h6>
            <h6 class="event-schedule-speaker">Sarah Meyer <span class="event-schedule-speaker-talk">JavaScript Minus JavaScript</span></h6>
            <h6 class="event-schedule-speaker">TBD <span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
            <h4 class="event-schedule-item-title">Lunch time <em>(and entertainment!)</em></h4>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
            <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

            <h6 class="event-schedule-speaker">Tim Pietrusky <span class="event-schedule-speaker-talk">I ❤ Music &amp; the Web</span></h6>
            <h6 class="event-schedule-speaker">Jason Laster <span class="event-schedule-speaker-talk">Enter Inspector Inception</span></h6>
            <h6 class="event-schedule-speaker">Abdella Ali <span class="event-schedule-speaker-talk">Automagic UI Elements Using Redux</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
            <h4 class="event-schedule-item-title">Snacks Break</h4>

          </li>
          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
            <h4 class="event-schedule-item-title">Last round of talks for the day!</h4>

            <h6 class="event-schedule-speaker">Sher Minn Chong <span class="event-schedule-speaker-talk">Make art with JavaScript!</span></h6>
            <h6 class="event-schedule-speaker">Jem Young <span class="event-schedule-speaker-talk">Transpilers: Not So Fast My Friend</span></h6>
            <h6 class="event-schedule-speaker">Edward Finkler <span class="event-schedule-speaker-talk">How To Be A Great Developer</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
            <h4 class="event-schedule-item-title">StatenIslandJS Take-over returns!</h4>
            <div class="event-schedule-caption">
              <p>The NMAI is located directly next to the South Ferry terminal, the most luxurious way to travel around the fair island of Manhattan. Well if luxury is defined as the only free ferry in the tri-state area. So we figured: <em>Why not maximize the most under appreciated borough in New York City?!?</em></p>

              <p>
                <em>... that's right!</em> <strong>We're going to Staten Island!</strong> JavaScript straight from the Slums of Shaolin.
              </p>

              <p><a href="http://www.siferry.com/schedules.html">According to the schedule</a> the ferry departs every half hour after day one ends. Our destination is just a short walk from where the ferry drops off. So take a boat ride with us and enjoy an evening of food, drinks, games, and whatever our mysterious friends at <a href="https://twitter.com/statenisland_js">StatenIslandJS</a> may have up their sleeves! <em>Did we mention there's a killer view of the Statue of Liberty on the way?</em> There is!</p>
            </div>

            <div class="event-schedule-sidebar">
              <img class="statenislandjs" src="/img/statenislandjs.png" />
            </div>
          </li>

          <li class="event-schedule-item event-schedule-header">
            <span class="event-schedule-dot dot-dark"></span>
            <div class="event-schedule-header-content">
              <span class="event-schedule-title">Friday, May 27th</span>
              <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 2)</h4>
            </div>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
            <h4 class="event-schedule-item-title">Breakfast</h4>
            <h6 class="event-schedule-speaker">Registration <span class="event-schedule-speaker-talk">continues</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">9:00 AM - 11:20 AM</span>
            <h4 class="event-schedule-item-title">Talks!</h4>

            <h6 class="event-schedule-speaker">Sally Jenkinson <span class="event-schedule-speaker-talk">All these moments will be lost in time: the web, the future, and us</span></h6>
            <h6 class="event-schedule-speaker">Nolan Lawson <span class="event-schedule-speaker-talk">I like the way you work it: all about Web Workers</span></h6>
            <h6 class="event-schedule-speaker">Patricia Realini <span class="event-schedule-speaker-talk">Jiro Dreams of Code: What Startups Can Learn From Chef Culture</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
            <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
            <h4 class="event-schedule-item-title">More talks!</h4>

            <h6 class="event-schedule-speaker">Adam Baldwin <span class="event-schedule-speaker-talk">Continuous Security</span></h6>
            <h6 class="event-schedule-speaker">Kenton Jacobsen <span class="event-schedule-speaker-talk">GraphQL is En Vogue</span></h6>
            <h6 class="event-schedule-speaker">Kirsten Hunter <span class="event-schedule-speaker-talk">Quantifying your Fitness</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
            <h4 class="event-schedule-item-title">Lunch time <em>(and more entertainment!)</em></h4>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
            <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

            <h6 class="event-schedule-speaker">Esco Obong <span class="event-schedule-speaker-talk">Approaching Infinite Scale with WebRTC</span></h6>
            <h6 class="event-schedule-speaker">Brian Sinclair <span class="event-schedule-speaker-talk">Accessible Accessibility</span></h6>
            <h6 class="event-schedule-speaker">Evan Morikawa <span class="event-schedule-speaker-talk">Desktop JS</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
            <h4 class="event-schedule-item-title">Snacks Break</h4>

          </li>
          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
            <h4 class="event-schedule-item-title">Last round of talks!</h4>

            <h6 class="event-schedule-speaker">Tara Lindhal <span class="event-schedule-speaker-talk">This is your brain on JS</span></h6>
            <h6 class="event-schedule-speaker">Myles Borins <span class="event-schedule-speaker-talk">Node.js Releases, how do they work?</span></h6>
            <h6 class="event-schedule-speaker">Lyzzeth Parody <span class="event-schedule-speaker-talk">How JS is conquering the world… Mapping Javascript Conferences</span></h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">5:45 PM</span>
            <h4 class="event-schedule-item-title">EmpireJS family photo</h4>
            <h6 class="event-schedule-speaker">with (friends) { <span class="event-schedule-speaker-talk">Memories.create()</span> }</h6>
          </li>

          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
            <span class="event-schedule-item-time">5:45 PM - ??:?? PM</span>
            <h4 class="event-schedule-item-title">
              EmpireJS Scavenger Hunt
            </h4>
            <p>As the lights come up and we take our EmpireJS family photo, we’ll immediately segway into our final adventure of EmpireJS 2016—a scavenger hunt!</p>

            <p>Experience our conference neighborhood and the history of NYC with your new friends! Our partners at <a href="http://museumhack.com/">Museum Hack</a> will be leading us from the stage of NMAI and around the area on an interactive scavenger hunt to explore with the FiDi and old New York. Discover surprising facts, some cool history, and maybe find a cool prize at the end! This party wraps up at a secret bar to be determined as part of our hunt!</p>
          </li>


          <li class="event-schedule-item">
            <span class="event-schedule-dot"></span>
          </li>
        </ul>

      </div>

    </div>
  </div>
</section>
