<a name="schedule"></a>

<section class="container full-width section section-event-schedule bg-white" data-id="schedule">
  <div class="row">

    <div class="col-xs-12 col-md-12">
      <div class="icon-container event-icon-container">
        <i class="fa fa-calendar"></i>
      </div>

      <h2>Schedule</h2>
      <div class="divider-inner"></div>
    </div>

    <div class="col-xs-12 col-md-12 event-schedule-body">
      <p>Wander the beautiful museum during a break? Go for it. Looking for a little peace? Find our quiet lounge. Need a bit of entertainment over lunch? Join us in the Dyker Auditorium. Want a little fresh air? Grab one of our delicious box lunches and have a picnic at the historic Battery park! Interact with our speakers and enjoy our full day of one-of-a-kind presentations.<p>

      <p>A ticket to EmpireJS 2016 includes tasty beverages and overflowing coffee. Both days include a full breakfast and lunch with options for omnivores, vegetarians, and vegans. If you have any special dietary needs, please let us know, so we can accommodate you. We've got some big surprises in store for these two days so stay tuned for announcements as we get closer to the conference!</p>

      <ul class="event-schedule-list">

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Wednesday, May 25th</span>
            <h4 class="event-schedule-subtitle">THE NIGHT BEFORE</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">7:00PM - 10:00PM</span>
          <h4 class="event-schedule-item-title">Stay Tuned!</h4>
          <p class="event-schedule-panel-desc"></p>
        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Thursday, May 26th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 1)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <p class="event-schedule-panel-desc">Registration opens</p>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 - 9:15 AM</span>
          <h4 class="event-schedule-item-title">Welcome to EmpireJS 2016</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:15 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">TBD <span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD <span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD <span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks for the day!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">TBD</h4>
          <div class="event-schedule-caption">
            <p> Hold on tight. We'll be updating this soon!</p>
          </div>
        </li>

        <li class="event-schedule-item event-schedule-header">
          <span class="event-schedule-dot dot-dark"></span>
          <div class="event-schedule-header-content">
            <span class="event-schedule-title">Friday, May 27th</span>
            <h4 class="event-schedule-subtitle">THE CONFERENCE (DAY 2)</h4>
          </div>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">8:00 - 9:00 AM</span>
          <h4 class="event-schedule-item-title">Breakfast</h4>
          <h6 class="event-schedule-speaker">Registration <span class="event-schedule-speaker-talk">continues</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">9:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:00 AM - 11:20 AM</span>
          <h4 class="event-schedule-item-title">Coffee &amp; Snacks</h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">11:20 AM - 12:30 PM</span>
          <h4 class="event-schedule-item-title">More talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">12:30 PM - 1:45 PM</span>
          <h4 class="event-schedule-item-title">Lunch time <em>(and more entertainment!)</em></h4>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">1:45 PM - 3:40 PM</span>
          <h4 class="event-schedule-item-title">Even more amazing talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">3:40 PM - 4:00 PM</span>
          <h4 class="event-schedule-item-title">Snacks Break</h4>

        </li>
        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">4:00 PM - 6:00PM</span>
          <h4 class="event-schedule-item-title">Last round of talks!</h4>

          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
          <h6 class="event-schedule-speaker">TBD<span class="event-schedule-speaker-talk">Announced soon!</span></h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">5:45 PM</span>
          <h4 class="event-schedule-item-title">EmpireJS family photo</h4>
          <h6 class="event-schedule-speaker">with (friends) { <span class="event-schedule-speaker-talk">Memories.create()</span> }</h6>
        </li>

        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
          <span class="event-schedule-item-time">6:00 PM - 11:00 PM</span>
          <h4 class="event-schedule-item-title">
            Closing Party on historic Stone Street
          </h4>
          <p>Food, drinks, good music, and goodbyes to new friends while chatting about all things JavaScript</p>
        </li>


        <li class="event-schedule-item">
          <span class="event-schedule-dot"></span>
        </li>
      </ul>

    </div>

  </div>
</section>
