<a name="scholarship"></a>

<section id="section-scholarship" data-id="scholarship">
  <div class="container">

  <div class="row">

    <div class="col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

      <div class="icon-container event-icon-container">
        <i class="fa fa-info"></i>
      </div>

      <h2>EmpireJS 2016 Scholarship</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS exists to educate and grow the Javascript community in New York City. We are constantly seeking ways to make our community broader and more inclusive. In support of that, we are excited to once again be granting scholarships for our upcoming conference.</p>

      <p>This scholarship is open to anyone who will be in New York City on May 26th and 27th. Because we are a community-run event, we are unable to provide travel and lodging as part of this initiative at this time, but hope to be able to in the future.</p>

      <p>We hope this scholarship program can enable you to join us and contribute to our community!</p>

      <h3>Sponsor a scholarship</h3>

      <p>We’d love to be able to provide as many scholarships as possible, and we need your help! If you’re part of a company interested in sponsoring a scholarship get in touch with us! Each $1000 sponsor scholarship sends three recipients at-cost to EmpireJS. Please contact <a href="mailto:us@empirejs.org">us@empirejs.org</a> for further details.</p>

      <h3>Diversity Enthusiast Ticket</h3>

      <p>Are you an individual who wants to help shape the future of JavaScript through helping to create a more diverse community? We invite you to become a Diversity Enthusiast! The purchase of this ticket ($600 USD) gets you:</p>
      <ul>
        <li>1 EmpireJS ticket for you</li>
        <li>1 EmpireJS ticket for someone in the community who couldn’t afford to come selected via our scholarship application</li>
      </ul>

      <h3>How to apply to receive a scholarship</h3>

      <p>To apply for a scholarship, fill out <a href="https://docs.google.com/forms/d/1kvTK_5h54ikTuC6pq9p7FwoHEDZo9V84QbxyLg5ecOU/viewform?usp=send_form" target="_blank">this form</a> and tell us about yourself! Are you an organization brimming with people who should be attending our conference but can’t swing the cost? Encourage folks to apply! The application deadline is May 10th. We will notify recipients by May 12th, and the remaining applicants will remain on a waiting list in case we are able to offer more tickets from generous giving. If you have any questions, you can also contact us at <a href="mailto:us@empirejs.org">us@empirejs.org</a>.</p>

    </div>

  </div>
</div>

</section>
