<a name="sponsors"></a>

<section id="section-sponsors" class="container container-fluid section section-event-info bg-white" data-id="sponsors">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-users"></i>
      </div>

      <h2>Sponsors</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS couldn't be possible with the support of our fantastic sponsors.</p>

    </div>

  </div>

  <div class="row">

    <div id="sponsor-list">
      <div class="sponsor-section gold">
        <a href="http://www.bloomberglabs.com" target="_blank">
          <img src="/img/sponsors/bloomberg.png" />
        </a>
        <a href="http://github.com/godaddy" target="_blank">
          <img src="/img/sponsors/godaddy.png" />
        </a>
        <a href="http://ebay.com" target="_blank">
          <img style="width: 425px" src="/img/sponsors/ebay.png" />
        </a>
        <a href="http://condenast.com" target="_blank">
          <img style="width: 600px" src="/img/sponsors/condenast.png" />
        </a>
        <a href="http://www.viacom.com/" target="_blank">
          <img style="width: 500px" src="/img/sponsors/viacom.png" />
        </a>
      </div>

      <div class="sponsor-section silver">
        <a href="http://hbo.com" target="_blank">
          <img style="width: 200px" src="/img/sponsors/hbo.png" />
        </a>
        <a href="http://squarespace.com" target="_blank">
          <img src="/img/sponsors/squarespace.png" />
        </a>
        <a href="http://paypal.com" target="_blank">
          <img src="/img/sponsors/paypal.png" />
        </a>
        <a href="http://digitalocean.com" target="_blank">
          <img src="/img/sponsors/digital-ocean.png" />
        </a>
      </div>

      <div class="sponsor-section startup">
        <a href="http://201-created.com" target="_blank">
          <img src="/img/sponsors/201-created.png" />
        </a>
        <a href="http://work-bench.com/" target="_blank">
          <img src="/img/sponsors/work-bench.png" />
        </a>
      </div>
    </div>

  </div>
</section>
