<a name="sponsors"></a>

<section id="section-sponsors" class="container container-fluid section section-event-info bg-white" data-id="sponsors">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="fa fa-users"></i>
      </div>

      <h2>Sponsors</h2>
      <div class="divider-inner"></div>

      <p>EmpireJS couldn't be possible with the support of our fantastic sponsors.</p>

    </div>

  </div>

  <div class="row">

    <div id="sponsor-list">
      <div class="sponsor-section platinum">
        <a href="https://www.tumblr.com/jobs" target="_blank">
          <img src="/img/sponsors/tumblr.png" width="400" />
        </a>
      </div>

      <div class="sponsor-section gold">
        <a href="http://www.bloomberglabs.com" target="_blank">
          <img src="/img/sponsors/bloomberg.png" width="350" />
        </a>
        <a href="http://saucelabs.com/" target="_blank">
          <img width="250" src="img/sponsors/saucelabs.png" alt />
        </a>
        <a href="http://lab49.com" target="_blank">
          <img src="/img/sponsors/lab49.png" width="300" />
        </a>
        <a href="http://github.com/godaddy" target="_blank">
          <img src="/img/sponsors/godaddy.png" width="300" />
        </a>
        <a href="http://yld.io" target="_blank">
          <img src="/img/sponsors/yld.png" width="131" />
        </a>
      </div>

      <div class="sponsor-section silver">
        <a href="http://condenast.com" target="_blank">
          <img src="/img/sponsors/condenast.png" width="260" />
        </a>
        <a href="http://etsy.com" target="_blank">
          <img src="/img/sponsors/etsy.png" width="150" />
        </a>
        <a href="http://strongloop.com" target="_blank">
          <img src="/img/sponsors/strongloop.png" width="260" />
        </a>
        <a href="http://groupon.com" target="_blank">
          <img src="/img/sponsors/groupon.png" width="260" />
        </a>
      </div>

      <div class="sponsor-section startup">
        <a href="http://www.carbonfive.com" target="_blank">
          <img src="/img/sponsors/carbon-five.png" />
        </a>
        <a href="http://bocoup.com" target="_blank">
          <img src="/img/sponsors/bocoup.png" />
        </a>
        <a href="http://www.netflix.com" target="_blank">
          <img src="/img/sponsors/netflix.png" />
        </a>
        <a href="https://www.mozilla.org/firefox" target="_blank">
          <img src="/img/sponsors/firefox.png" />
        </a>
        <a href="https://google.com" target="_blank">
          <img src="/img/sponsors/google.png" />
        </a>
        <a href="http://201-created.com" target="_blank">
          <img src="/img/sponsors/201-created.png" />
        </a>
        <a href="http://www.npnd.com/" target="_blank">
          <img src="/img/sponsors/npnd.png" />
        </a>
        <a href="http://twilio.com" target="_blank">
          <img src="/img/sponsors/twilio.png" />
        </a>
        <a href="http://work-bench.com/" target="_blank">
          <img src="/img/sponsors/work-bench.png" />
        </a>
      </div>
    </div>

  </div>
</section>
