<header id="header-home" class="container container-fluid component-header">
  <div class="row">
    <div id="header-home-content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div id="header-home-logo" class="header-logo"><img src="/img/hero-empirejs.png" /></div>

      <h1>April 26th &amp; 27th</h1>

      <h2><i>Welcome to the city of dreamers, schemers, and some really rad JavaScript.</i></h2>

      <p>Hosted at The National Museum of the American Indian</p>

    </div>
  </div>
</header>
