<header id="header-hero" class="container container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div id="header-hero-logo"><img src="/img/hero.png" /></div>

      <div id="header-hero-content">
        <h2 class="date">Late May 2016</h2>
        <h2 class="location">New York City</h2>
        <h1><a href="https://speak.empirejs.org" target="_blank">Submit a talk!</a></h1>
        <h2><a href="https://speak.empirejs.org" target="_blank">speak.empirejs.org</a></h2>
      </div>
    </div>
  </div>
</header>
