<header id="header-hero" class="container container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div id="header-hero-logo"><img src="/img/hero.png" /></div>

      <div id="header-hero-content">
        <h2 class="date">May 26th & 27th, 2016</h2>
        <h2 class="location">National Museum of</h2>
        <h2 class="location">the American Indian</h2>
        <h2 class="location">New York City</h2>
        <h1><a href="https://ti.to/empirejs/empirejs-2016" target="_blank">Tickets on Sale!</a></h1>
        <p class="coc">We are an inclusive, kind community that is constantly growing. We ask that you
          <a href="https://github.com/EmpireJS/Code-of-Conduct#the-empirejs-code-of-conduct">'don't be a yutz'</a>,
          and try and make our
          fellow Empire friends feel welcome!</p>
        <p>Diversity of voices is important to our community, and
          we are serious when we say EVERYONE AND ANYONE should attend and participate.</p>
      </div>
    </div>
  </div>
</header>
