<section id="section-home-tickets" class="container full-width section section-event-info bg-white">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

      <div class="icon-container event-icon-container">
        <i class="icon-info"></i>
      </div>

      <h2>Buy Tickets</h2>
      <div class="divider-inner"></div>

      <tito-widget class="tito-widget" event="empirejs/empirejs-2015"></tito-widget>

    </div>

  </div>

</section>
