#header-hero

  #header-hero-content
    color #231f20
    background-color #fff
    text-align center
    min-height 200px

  h1
    margin 0
    font-weight bold
    text-transform uppercase
    padding 0

    &:first-child
      padding 0.67em 0 0 0


  h2
    font-size 26px
    font-weight 300
    line-height 1.4

  p
    color #ccc

#marquee-container
  text-align: center

#marquee
  max-width: 400px
  width 100%

@media mq-xs-min

  #header-hero
    #header-hero-logo
      img
        display block
        margin 0 auto
        width 90%

  .section-event-map
    background-color almostblack
    padding 0

    .map-location-container
      color #fff
      flex-basis 100%
      padding 20px 0

      h2
        color #fff

      a
        color #fff

      .map-location-title
        margin-top 20px

      .map-new-tab
        display block
        margin 0 auto
        text-align center
        width 90%

    .map-container
      flex-basis 100%
      width 100%
