@media (min-width: $md) {

  #header-hero {
    height: 100%;

    #header-hero-logo {
      img {
        width: 65%;
        float: right;
      }
    }

    h1, h2 {
      text-align: left;
    }
  }
}
