#header-hero {

  #header-hero-date,
  #header-hero-tickets {
    height: 38px;
    margin: 5px 0;

    h2 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  #header-hero-date {
    background: $empire_orange;
    color: #FFF;
  }

  #header-hero-tickets {
    background: $empire_yellow;

    .container {
      a {
        color: #333 !important;
      }
    }
  }
}

@media mq-xs-min {

  #header-hero {

    #header-hero-logo {
      img {
        display: block;
        margin: 0 auto;
        width: 90%;
      }
    }

    h1, h2 {
      text-align: center;
      padding: 0;
    }
  }
}
