@media (min-width: $sm) {

  .section-event-map {
    overflow: hidden;
    height:550px;

    .map-location-container {
      margin-bottom: 0;
      margin-top: 60px;
      padding: 10px;
      position: relative;
      width:20%;
      display: inline-block;
    }



    .venue-photo {
      background :center no-repeat url('/img/nmai-alt.jpg');
      height: 550px;
      width:39%;
      display: inline-block;
    }
    #map {
      height:550px;
      width:40%;
      display: inline-block;

    }
}

    }
