  .section-event-map {
    background-color: $almostblack;
    overflow-x: hidden;
    padding: 0;
    width:100%;

    .venue-photo {
      background: center no-repeat url('/img/nmai-alt.jpg');
      height: 600px;
    }

    .map-location-container {
      color: #fff;
      padding: 20px 0;

      h2 {
        color: #fff;
      }

      a {
        color: #fff;
      }

      .map-location-title {
        margin-top: 20px;
      }
      .map-new-tab {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 90%;
      }
      }
    .map-container {
      width: 100%;
    }
  }
