#section-sponsors {
  text-align: center;
  margin-bottom: 100px;
}

#sponsor-list {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  .sponsor-section {
    margin: 0 auto 30px;
    width: 100%;

    a {
      display: block;
      padding: 0 20px 20px 0;
    }
  }

  .sponsor-section.gold {
    max-width: 1200px;
    margin: 30px 0 30px 0;

    img {
      width: 450px;
    }
  }

  .sponsor-section.silver {
    img {
      width: 300px;
    }
  }

  .sponsor-section.startup {
    max-width: 800px;
    img {
      width: 200px;
    }
  }


}
