#section-sponsors {
  text-align: center;
  margin-bottom: 25px;
}

#sponsor-list {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  .sponsor-section {
    margin: 0 auto 30px;
    width: 100%;

    a {
      display: block;
      padding: 0 20px 20px 0;
    }
  }

  .sponsor-section.gold {
    max-width: 1200px;
    margin: 30px 0 30px 0;

    img {
      max-width: 300px;
      width: 300px;
    }

    a:last-child {
      padding: 25px 0 0 0;
    }
  }

  .sponsor-section.silver {
    margin: 0 auto 10px;
    img {
      width: 200px;
    }
  }

  .sponsor-section.startup {
    margin: 0 auto;
    max-width: 320px;
    img {
      width: 100px;
    }
  }
}
